@charset "utf-8";

/* Fonts */
@font-face {
    font-family: "Museo300";
    src: url(fonts/Museo300.otf);
}

@font-face {
    font-family: "Museo500";
    src: url(fonts/Museo500.otf);
}

@font-face {
    font-family: "Museo700";
    src: url(fonts/Museo700.otf);
}

@font-face {
    font-family: "Museo900";
    src: url(fonts/Museo900.otf);
}

@font-face {
    font-family: "Sansation";
    src: url(fonts/SansationLight.ttf);
}

/* On smaller screens, decrease text size */
/*
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
*/

/* Container stuff */
.slide-container {
    display: none;
    max-height: 100%;
    text-align: center;
}

.slide-container img {
    margin-top: 25px;
    vertical-align: middle;
    max-height: 500px;
    max-width: 100%;
}

.slide-container .text {
    color: #ffdcdc;
    font-size: 40px;
    padding: 8px 12px;
    margin-top: 50px;
    width: 100%;
}

.container {
    margin-top: 0px;

    max-width: 1000px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.container * {
    box-sizing: border-box
}

/* Next & previous buttons */
.container .controls-btn {
    cursor: pointer;

    position: absolute;
    width: auto;
    height:100%;

    margin-top: -22px;
    padding: 16px;

    color: white;

    font-size: 30px;

    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    user-select: none;

    /* z-index: 1000; */
}

/* Position the "next button" to the right */
.container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.container .prev:hover, .container .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide-container.display {
    display: block;
}

.slide-container.hidden {
    display: none;
}

/*-------ANIMATIONS-------*/
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*-------GLOBALS--------*/
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Museo300", "Calibri", "Arial", Sans-Serif;
    color: #EEE;
    background: rgb(255, 84, 121);
    overflow-x: hidden;
}

*,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    font-family: "Museo300", "Calibri", "Arial", Sans-Serif;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo500", "Calibri", "Arial", Sans-Serif;
}

.light {
    font-family: "Museo300", "Calibri", "Arial", Sans-Serif;
}

.border-underline {
    padding-bottom: 0px;
    border-bottom: 1px solid #EEE;
}

.soft-border-underline {
    padding-bottom: 0px;
    border-bottom: 1px dotted #EEE;
}

.underline {
    text-decoration: underline;
}

.soft-underline {
    text-decoration: underline;
    text-decoration-style: dashed;
}

.less-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.less-margin-top {
    margin-top: 5px;
}

.less-margin-bottom {
    margin-bottom: 5px;
}

.text-center {
    text-align: center;
}

a {
    transition: all 0.3s ease;
    color: #FF8F19;
    text-decoration: none;
    font-size: 110%;
}

a:hover {
    color: #FFD269;
}

img {
    border: 0px;
    outline: none;
}

.bold-500 {
    font-family: "Museo500", "Calibri", "Arial", Sans-Serif;
}

b,
strong,
.bold,
.bold-700 {
    font-family: "Museo700", "Calibri", "Arial", Sans-Serif;
}

.font-tiny {
    font-size: 60%;
}

.font-small {
    font-size: 80%;
}

.font-normal,
.font-regular {
    font-size: 100%;
}

.font-big,
.font-large {
    font-size: 120%;
}

.font-bigger,
.font-larger {
    font-size: 150%;
}

.font-huge {
    font-size: 200%;
}

label {
    cursor: pointer;
}