[submodule "PrioriTask"]
        path = PrioriTask
        url = https://github.com/Samleo8/PrioriTask 
[submodule "PixArt"]
        path = PixArt
        url = https://github.com/Samleo8/PixArt
[submodule "KeyboardMusic"]
	path = KeyboardMusic
	url = https://github.com/Samleo8/KeyboardMusic
[submodule "Slitherie"]
	path = Slitherie
	url = https://github.com/Samleo8/Slitherie
