[submodule "PrioriTask"]
	path = PrioriTask
	url = https://github.com/Samleo8/PrioriTask.git 
[submodule "PixArt"]
	path = PixArt
	url = https://github.com/Samleo8/PixArt.git
[submodule "KeyboardMusic"]
	path = KeyboardMusic
	url = https://github.com/Samleo8/KeyboardMusic.git
[submodule "Slitherie"]
	path = Slitherie
	url = https://github.com/Samleo8/Slitherie.git
[submodule "Connect4"]
	path = Connect4
	url = https://github.com/Samleo8/Connect4.git
[submodule "misc/birthdaysurprise"]
	path = misc/birthdaysurprise
	url = https://github.com/Samleo8/YitaoSurprise.git
[submodule "resumecv"]
	path = resumecv
	url = https://github.com/Samleo8/resumecv.git
