@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

html{
	width:100%;
	height:100%;
	background:#F9F9F9;
	background-repeat:repeat;	
}

::selection {
    background-color: rgb(170, 211, 251);
}

::-moz-selection {
    background-color: rgb(170, 211, 251);
}

.disableSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enableSelect{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;       
}

.flex-container{
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-child{
    flex:1;
}

body,input{
	font-family:"Open Sans","Calibri","Arial",sans-serif;
	font-size:14px;
}

input[type=submit],input[type=button],input[type=reset]{
	background:#5cbcf6;
	color:#F9F9F9;
	font-weight:700;
    
	border:none;
	border-radius:3px;
	
    cursor: pointer;
	
    padding:7px 10px 7px 10px;
	margin-top: 5px;
    
    display: inline-block;
	
    text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
    
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover{
	background:#49a7df;
}

input[type=submit]:active,input[type=button]:active,input[type=reset]:active{
	
}

legend{
	font-size:16px;
	font-weight:700;
}

#playGrid{
	border-collapse:collapse;	
}

#playGrid td{
	border:1px #000 solid;
    
	width:3em;
	height:3em;
	
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#playGrid td{
    position: relative;

    background:white;
    cursor: pointer;
}
/*
#playGrid td.hintSquare:hover{
	background-color:aliceblue;
}
*/

#playGrid td:after{
    content: '';
    position: absolute;
    top:0; bottom:0; right:0; left:0;
    
    transition: all 0.3s ease;
    background: rgba(10,10,10,0);
}

#playGrid td:hover:after{
	background: rgba(142,142,142,0.3);
}

#levelSelect{
	position:relative;	
	margin-bottom:10px;
}

#instructions{
	position:absolute;
	right:20px;
	top:25px;
	padding:5px;
	border:2px blue solid;	
	background:aliceblue;
}

#instructions legend{
	color:orangered;
	background:aliceblue;
	border:2px blue solid;
	padding-left:5px;
	padding-right:5px;
}

#instructions span{
	color:white;
	border:1px solid black;	

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#instructions span:hover{
	opacity:0.6;
}


#instructions span.cleared{
	color:black;
}